<%= simple_form_for @movie do |f| %>
  <div class="form-movie">
    <%= f.input :片名, input_html: { class: "form-control"} %>
    <%= f.input :简介, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
