<div class="col-md-4 col-md-offset-4">
    <h2>新增电影</h2>

    <hr>
    <%= form_for @movie do |f| %>

    片名
    <%= f.text_field :片名 %>
    <br>
    简介
    <br>
    <%= f.text_area :简介 %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
