<div class="col-md-12">
  <div class="movie">
    <% if current_user && current_user == @movie.user %>
    <%= link_to("Edit", edit_movie_path(@movie), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @movie.片名 %></h2>
  <p><%= @movie.简介 %></p>
</div>
